#header{
    min-height: 160px;
    overflow: hidden;
}
#logo{
    height: 160px;
    width: 335px;
    float: left;
}
#logo a{
    height: 160px;
    width: 335px;
    display: block;
}
#logo a img{
    margin: 15px 0 0 60px;
}
#header-wrap{
    width: 825px;
    min-height: 160px;
    float: left;
    position: relative;
}
#logo a:focus{
    border: 1px dotted #0C66AC;
    outline-offset: -1px;
}
/* ----------------- Navigation und Footer unterhalb Content ----------------------- */
#second-wrap{
    background: #ededed;
    min-height: 40px;
    overflow: visible;
    margin: 15px 0 0 0;
}

#second-nav{
    margin-left: 52px;
    float: left;
}

#second-nav ul li{
    list-style-type: none;
    float: left;
    line-height: 40px;
    color: #191F39;
    font-size: 13px;
}

#second-nav ul li a{
    font-size: 13px;
    color: #191F39;
    text-decoration: none;
    padding: 0 8px;
}

#second-nav ul li a:hover,
#second-nav ul li a:focus{
    color:#0C67AE;
}

#footer{
    float: right;
    margin-right: 52px;
}

#footer p{
    line-height: 40px;
    color: #191F39;
    font-size: 13px;
}

/* ----------------- Sitemap ------------------- */

#sitemap-header{
    background: #19213a;
    height: 100px;
    line-height: 100px;
    overflow: visible;
}
#show-sitemap{
    display:block;
    height:24px;
    line-height:24px;
    margin-top:38px;
    padding-left:34px;
    min-width: 170px;
    background:url(../img/plus-minus-invert.png) left bottom no-repeat;
    float: left;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
#show-sitemap:focus{
    border:1px solid #fff;
}
#sitemap-header #left-nav{
    margin-left:60px;
    float: left;
}
#sitemap-header #right-nav{
    float: right;
}
#sitemap-header #left-nav li, #sitemap-header #right-nav li{
    list-style-type: none;
    color: #fff;
    line-height: 80px;
    font-size: 60px;
    float: left;
}
#sitemap-header #left-nav li{
    padding-right: 20px;
}
#sitemap-header #right-nav li{
    padding-left: 20px;
}
#sitemap-header #left-nav li .border, #sitemap-header #right-nav li .border{
    display: block;
    width: 1px;
    height: 60px;
    border-right:1px #7c8497 solid;
    margin-top: 20px;
}
#sitemap-content{
    background: #222942;
    overflow: visible;
    height: 317px;
}
#sitemap-content ul{
    margin-right: 20px;
    float: left;
}
#sitemap-content ul li{
    list-style-type: none;
    margin: 4px 0 5px 0;
    background:url(../img/white-arrow-right.png) left 6px no-repeat;
}

#sitemap-content ul li.li-head { background: none; }

#sitemap-content ul li a{
    display: block;
    padding-left:13px;
    font-size: 13px;
    line-height: 18px;
    color: #a7aab4;
    text-decoration: none;
}
#sitemap-content ul li a:hover,
#sitemap-content ul li a:focus{
    color: #fff;
}
#sitemap-content ul .li-head a{
    display:block;
    background: none;
    font-weight: bold;
    color:#fff;
    padding: 0;
    margin-bottom: 5px;
}

#s-column-1{
    width:273px;
    margin-left: 49px;
}
#s-column-2{
    width: 159px;
}
#s-column-3{
    width: 168px;
}
#s-column-4{
    width: 234px;
}
#s-column-5{
    width: 162px;
}
#sitemap-header #left-nav{
    margin-left:60px;
    float: left;
}
body{
    background:#e2e2e2 url(../img/body-bg.png) repeat-x;
}